/target
/crates/shader/target
/crates/client/target
/crates/client/dist
/.claude/settings.local.json
/.idea/
*.gz
/certs
*bview
afk_logs
data
grafana_storage/
prometheus.yml
run_grafana.sh
config/server.test.yaml
